@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}
/* Space out content a bit */

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    background: #ecf0f1;
}
.container {
    background: url('../images/tmp/background.png') no-repeat left top;
    max-width: 970px;
}
.content {
    background: url('../images/tmp/content.png') no-repeat left top;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.sidebar {
    padding: 10px 0;
}
.sidebar img {
    width: 100%;
    height: auto;
}
.sidebar button {
    border: none;
    border-top: 1px solid #697f94;
    width: 100%;
    outline: none;
    background: none;
    color: #d3e9ff;
    text-transform: uppercase;
    padding: 30px 0;
    font-family: 'Lato-Light';
    font-size: 16px;
    background: linear-gradient(to top right, transparent 40%, rgba(255, 255, 255, 0.1) 80%);
    transition-duration: 0.3s;
    transition-property: color;
}
.sidebar button:last-child {
    border-bottom: 1px solid #697f94;
}
.sidebar button:hover {
    color: white;
}
.sidebar button i {
    font-size: 30px;
    padding-bottom: 15px;
    transition-duration: 0.5s;
    transition-property: font-size;
}
.sidebar button:hover i {
    font-size: 40px;
}
material-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
    float: left;
}
.pointer {
    cursor: pointer;
}
.input-group input {
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 0px !important;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
.input-group button {
    margin: 10px;
    padding: 20px;
    border: 0px;
    background: white;
    width: 300px;
}
.float-width {
    float: left;
    width: 100%
}
material-whiteframe {
    margin: 0px;
    background: none;
}
material-whiteframe .pointer {
    background: white;
    padding: 15px;
}
.invoice {
    border-top: 2px solid white;
    /*border-bottom: 2px solid white;*/
}
.invoice:last-child {
    border-bottom: 2px solid white;
}
.invoice {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.invoice .fa {
    padding-right: 15px;
}

.invoice .invoiceItem {
    float: left;
    width: 100%;
}

.invoice .itemName, .table .name-head {
    padding-left: 43px;
}

material-button.material-button-fab, .delete-button {
    position: absolute;
    right: 8px;
    top: 3px;
    background: #fff;
    -webkit-transform: scale(0) translate3d(0, 0, 0);
    transform: scale(0) translate3d(0, 0, 0) !important;
}
.client:hover .delete-button {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0) !important;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
