@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}
/* Space out content a bit */

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    height: 725px;
    /* avoid scrollbars */
    overflow: hidden;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    background: #ecf0f1;
    height: 100px;
}
.fullHeight {
    height: calc(100%);
    background-image: url('../images/patterns/green.png');
}
.container-fluid {
    height: calc(100%);
}
.content {
    min-height: calc(100%);
}
/* Custom page footer */

.clientsContent {
    height: 584px;
}
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.sidebar {
    padding: 10px 0;
    background: url('../images/patterns/blue.png');
}
.sidebar img {
    width: 100%;
    height: auto;
}
.sidebar button {
    border: none;
    border-top: 1px solid #697f94;
    width: 100%;
    outline: none;
    background: none;
    color: #d3e9ff;
    text-transform: uppercase;
    padding: 30px 0;
    font-family: 'Lato-Light';
    font-size: 16px;
    background: linear-gradient(to top right, transparent 40%, rgba(255, 255, 255, 0.1) 80%);
    transition-duration: 0.3s;
    transition-property: color;
}
.sidebar button:last-child {
    border-bottom: 1px solid #697f94;
}
.sidebar button:hover {
    color: white;
}
.sidebar button i {
    font-size: 30px;
    padding-bottom: 15px;
    transition-duration: 0.5s;
    transition-property: font-size;
}
.sidebar button:hover i {
    font-size: 40px;
}
material-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
    float: left;
}
.pointer {
    cursor: pointer;
}
.input-group input {
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 0px !important;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
.input-group button {
    margin: 10px;
    padding: 20px;
    border: 0px;
    background: white;
    width: 300px;
}
.float-width {
    float: left;
    width: 100%
}
material-whiteframe {
    margin: 0px;
    background: none;
}
material-whiteframe .pointer {
    background: white;
    padding: 15px;
}
.hideScroll {
    overflow-y: scroll;
    width: 102% ;
}
.invoice {
    border-top: 2px solid white;
    /*border-bottom: 2px solid white;*/
}
.invoice:last-child {
    border-bottom: 2px solid white;
}
.invoice {
    width: 100%;
    float: left;
    padding: 10px 0;
}
.invoice .fa {
    padding-right: 15px;
}
.invoice .invoiceItem {
    float: left;
    width: 100%;
}
.table {
    float: left;
}
.table h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.invoice .itemName,
.table .name-head {
    padding-left: 43px;
}
material-button.material-button-fab,
.delete-button {
    position: absolute;
    right: 8px;
    top: 3px;
    background: #fff;
    -webkit-transform: scale(0) translate3d(0, 0, 0);
    transform: scale(0) translate3d(0, 0, 0) !important;
}
.client:hover .delete-button {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0) !important;
}
/* Responsive: Portrait tablets and up */

.header h3 {
    text-transform: uppercase;
    padding: 30px 0;
    font-family: 'Lato-Light';
    font-size: 25px;
    padding-left: 20px;
    margin: 0;
    padding-top: 40px;
    float: left;
}
.header .user {
    width: 160px;
    position: absolute;
    right: -100px;
    margin: 22px 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 2px;
    background: rgba(255,255,255,.0);
    -webkit-transition: all 200ms ease-out;
}
.header .user:hover {
    width: 160px;
    margin: 22px 0;
    right: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 2px;
    background: rgba(255,255,255,.8)
}

.header .user .userinfo {
    opacity: 0;
    padding: 0 0 0 10px;
    float: right;
    width: 100px;
}
.header .user:hover .userinfo {
    opacity: 1;
}
.header .user h3 {
    font-size:12px;
    padding: 10px 0 0 0;
}
.user .userimage {
    border-radius: 50%;
    width: 50px;
    float: left;
    -webkit-transition: -webkit-transform 200ms ease-out;
}
.user .userimage:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.overlay {
    position: fixed;
    z-index:199;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: url('../images/tmp/loginBackground.jpg');
}
.overlay .login {
    margin: 100px auto;
    width: 80%;
}


/*
    testing for config
 */
.zoom {
    -webkit-animation: myfirst 2s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
    position: fixed;
    left:0px; top:0px;
    height:100%;
    width: 100%;
    background: yellow;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {
        background: red;
        width: 100%;
        left:100px; top:100px;
    }
    to {
        background: yellow;
        width: 200%;
        left:0px; top:0px;

    }
}
/* Standard syntax */
@keyframes myfirst {
    from {
        background: red;
        width: 100%;
    }
    to {
        background: yellow;
        width: 200%;
    }
}

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
.invoice .items {
    float: left;
    display: none;
}
.tabs-header {
    background: none;
    color: white;
    background: rgba(39, 174, 96, 0.6);
    margin-bottom: 10px;
}
