<div class="sample">

    <material-tabs selected="selectedIndex" style="background-color: #4285F4;">

        <material-tab ng-repeat="tab in tabs">
            {{tab.title}}
        </material-tab>

    </material-tabs>

    <div class="animate-switch-container" ng-switch on="selectedIndex">

        <div class="animate-switch blueArea" ng-switch-when="0">

            <material-list>
                <material-whiteframe class="material-whiteframe-z1" ng-repeat="client in clients">

                    <h2>{{client.name}}</h2>
                    <h3>{{client.companyName}}</h3>
                    <p>
                        {{client.mail}}
                    </p>
                </material-whiteframe>
            </material-list>

        </div>

        <div class="animate-switch blueArea" ng-switch-when="1">
            View for Item #2
            <br/>Selection index = 1
        </div>

    </div>
</div>


