{{config}}

<material-tabs selected="selectedIndex">
    <material-tab ng-repeat="tab in tabs">
        {{tab.title}}
    </material-tab>
</material-tabs>
<div class="animate-switch-container clientsContent" ng-switch on="selectedIndex">
    <div ng-switch-when="0" class="hideScroll fullHeight">
        <form class="form-horizontal">
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <p>Profil:</p>
                    <label for="inputEmail3" class="col-sm-2 control-label">Surname:</label>
                    <input type="text" ng-model="config.profile.surname" class="form-control" placeholder="Name">

                    <label for="inputEmail3" class="col-sm-2 control-label">Firstname:</label>
                    <input type="text" ng-model="config.profile.firstname" class="form-control" placeholder="Vorname">

                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <input type="text" ng-model="config.profile.email" class="form-control" placeholder="Company Name">

                    <label for="inputEmail3" class="col-sm-2 control-label">Timezone</label>
                    <input type="text" ng-model="config.profile.timezone" class="form-control" placeholder="Timezone">

                    <label for="inputEmail3" class="col-sm-2 control-label">Image</label>
                    <input type="text" ng-model="config.profile.image" class="form-control" placeholder="Image">
                    <button ng-click="saveClient()">abfeuern</button>
                </div>
            </div>
        </form>
    </div>
    <div class="" ng-switch-when="1">
        <form class="form-horizontal">
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <p>Einstellungen:</p>
                    <material-checkbox ng-model="config.preferences.askBeforeDelete" aria-label="Finished?">
                        Vor dem Löschen fragen?
                    </material-checkbox>

                    <material-checkbox ng-model="config.preferences.undoredo" aria-label="Finished?">
                        Rückgäng-Option anzeigen?
                    </material-checkbox>
                </div>
            </div>
        </form>
    </div>
    <div class="" ng-switch-when="2">
        <form class="form-horizontal">
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <p>Benachrichtigen wenn:</p>
                    <material-checkbox ng-model="config.notifications.otherUserOnline" aria-label="Finished?">
                        andere Benutzer online kommen?
                    </material-checkbox>

                    <material-checkbox ng-model="config.notifications.otherUserOffline" aria-label="Finished?">
                        andere Benutzer offline gehen?
                    </material-checkbox>

                    <material-checkbox ng-model="config.notifications.updateAvailable" aria-label="Finished?">
                        ein Update verfügbar ist?
                    </material-checkbox>

                    <material-checkbox ng-model="config.notifications.changes" aria-label="Finished?">
                        Änderungen gemacht werden?
                    </material-checkbox>
                </div>
            </div>
        </form>
    </div>
</div>
