<material-tabs selected="selectedIndex">
    <material-tab ng-repeat="tab in tabs">
        {{tab.title}}
    </material-tab>
</material-tabs>


<div class="animate-switch-container clientsContent" ng-switch on="selectedIndex">

    <div ng-switch-when="0" class="table hideScroll fullHeight">

        <material-whiteframe class="lessmaterialpadding col-xs-12" ng-repeat="invoice in invoices">
            <div ng-click="toggleInvoice($event)" class="document pointer material-whiteframe-z1">
                <i class="fa fa-plus col-xs-1"></i>
                <h3 class="col-xs-3">{{invoice.name}}</h3>
                <h3 class="col-xs-4">{{invoice.client.name}}</h3>
                <h3 class="col-xs-2">{{invoice.invoiceDate}}</h3>
                <div class="buttons col-xs-2">
                    <i ng-click="editInvoice(invoice.id)" class="fa fa-pencil"></i>
                    <i ng-click="deleteInvoice(invoice.id)" class="fa fa-trash"></i>
                </div>
                <div class="items">
                    <hr>
                    <div class="invoiceItem" ng-repeat="ic in invoice.invoiceContent">

                        <div class="col-xs-3 col-xs-offset-1 itemName">{{ic.itemName}}</div>
                        <div class="col-xs-4 itemDescription">{{ic.itemDescription}}</div>
                        <div class="col-xs-1 itemUnitCosts">{{ic.itemQuantity}} X

                        </div>

                        <div class="col-xs-1 itemUnitCosts">{{ic.itemUnitcosts}}
                            <span ng-if="ic.itemUnitcosts">€</span>
                        </div>

                        <div class="col-xs-2 itemUnitCosts">{{ic.itemUnitcosts * ic.itemQuantity}}
                            <span ng-if="ic.itemUnitcosts">€</span>
                        </div>
                    </div>
                </div>

            </div>
        </material-whiteframe>


    </div>

    <div ng-switch-when="1" class="table hideScroll fullHeight horizontalPadding">
        <material-whiteframe class="material-whiteframe-z1 grey hvPadding col-xs-12">

            <div class="invoice-box col-xs-12">
                <h2>Client</h2>
                <input type="text" ng-model="clientFilter.name">
                <ul class="client-list" ng-if="clientFilter.name">
                    <li ng-repeat="client in clients | filter:clientFilter">{{client.name}}</li>
                </ul>
            </div>

            <div class="invoice-name">
                <label>Name</label>
                <input type="text" ng-model="formdata.name" class="form-control" placeholder="Name">
                <input type="text" ng-model="formdata.invoiceDate" class="form-control" placeholder="Date">
            </div>
            <div class="invoice-items">
                <div class="box-container invoice-item-height" ng-repeat="item in formdata.invoiceContent">
                    <div class="border-right border-left col-xs-3">
                        <label>Bezeichnung</label>
                        <input type="text" ng-model="item.itemName" class="form-control" placeholder="Name">
                    </div>

                    <div class="border-right col-xs-5">
                        <label>Beschreibung</label>
                        <input type="text" ng-model="item.itemDescription" class="form-control" placeholder="Description">
                    </div>

                    <div class=" border-right col-xs-1">
                        <label>Preis</label>
                        <input type="number" ng-model="item.itemUnitcosts" class="form-control" placeholder="0">
                    </div>

                    <div class="border-right col-xs-1">
                        <label>Anzahl</label>
                        <input type="number" ng-model="item.itemQuantity" class="form-control" placeholder="0">
                    </div>


                    <div class="nocaption border-right col-xs-1">
                        <p>{{item.itemQuantity * item.itemUnitcosts}}</p>
                    </div>

                    <div class="nocaption border-right col-xs-1">
                        <i ng-click="removeInvoiceItem($index)" class="fa fa-trash"></i>
                    </div>


                </div>
                <input ng-focus="addItem()" type="text" class="noheight" placeholder="0">
            </div>
            <button ng-click="addItem()">gth</button>
            <hr>

            <div class="float-width">
                <button ng-click="saveInvoice()">abfeuern</button>
            </div>

        </material-whiteframe>

    </div>
</div>


